[submodule "bundle/vundle"]
	path = bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "emacs.d/geiser"]
	path = emacs.d/geiser
	url = http://git.sv.gnu.org/r/geiser.git
[submodule "emacs.d/evil"]
	path = emacs.d/evil
	url = https://git.gitorious.org/evil/evil.git
