[submodule "bundle/vundle"]
	path = bundle/vundle
	url = http://github.com/gmarik/vundle.git

[submodule "emacs.d/geiser"]
	path = emacs.d/geiser
	url = http://git.sv.gnu.org/r/geiser.git

[submodule "emacs.d/evil"]
	path = emacs.d/evil
	url = https://git.gitorious.org/evil/evil.git

[submodule "emacs.d/powerline"]
	path = emacs.d/powerline
	url = http://github.com/Dewdrops/powerline
[submodule "emacs.d/evil-leader"]
	path = emacs.d/evil-leader
	url = http://github.com/cofi/evil-leader
[submodule "emacs.d/evil-surround"]
	path = emacs.d/evil-surround
	url = http://github.com/timcharper/evil-surround
